@model UserTeamsRolesViewModel

@{
    ViewBag.Title = "MyTeams";
}

<div class="panel-body"><h4>MyTeams</h4></div>
<hr />

<p>Witaj @Model.UserName</p>
<table class="table">
    <thead>
        <tr>
            <th>Team</th>
            <th>Roles</th>
        </tr>
    </thead>
    <tbody>
        @foreach (UserTeamViewModel team in Model.UserTeams)
        {
            <tr>
                <td><a asp-action="Details" asp-route-teamId="@team.TeamId">@team.TeamName</a></td>
                <td>
                    <ul>
                        @foreach (RoleViewModel role in team.UserTeamRoles)
                        {
                            <li>@role.RoleName</li>
                        }
                    </ul>
                </td>
            </tr>
        }

    </tbody>
</table>
