<!DOCTYPE html>

<style>
    .marg {
        margin-left: 1em;
        margin-right: 1em;
    }
</style>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @*<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous" />
        <link rel="stylesheet" href="~/css/*" />
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
        <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>*@
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="~/js/TeamDropdownButton.js"></script>

    <title>@ViewBag.Title</title>

    <style>
        nav div {
            float: left;
        }

        nav button {
            margin: 0 0.2em 0 0.2em;
        }
    </style>
</head>
<body>
    <nav class="bg-secondary panel-body" style="padding:0.5em 1em 0.5em 1em;">

        <div>
            <a class="btn btn-success" href="/MyTeam">Home</a>
        </div>

        <div class="dropdown">
            <button class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                My Teams
            </button>
            <div id="dropdownMyTeams" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            </div>
        </div>

        <div class="dropdown">
            <button class="btn btn-success dropdown-toggle" type="button" id="dropdownOtherTeamsButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Other Teams
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="/Team">Teams</a>
                <a class="dropdown-item" href="/Team/CreateTeam">Create your team</a>
            </div>
        </div>
        <a style="" class="btn btn-success" asp-action="MyMessages" asp-controller="Message">My Messages</a>

        @if (!String.IsNullOrEmpty(User.Identity.Name))
        {
            <a style="" class="btn btn-danger" asp-action="Logout" asp-controller="Account">Log out</a>
        }
        else
        {
            <a class="btn btn-success" asp-action="Login" asp-controller="Account">Log in</a>
            <a class="btn btn-primary" asp-action="Register" asp-controller="Account">Register</a>
        }
    </nav>

    

    <div class="marg">@RenderBody()</div>

</body>
</html>
